<div class="container wrapper flex">
  <h2 class="section-ttl">ジャンル更新</h2>
	<div class="row mt-5">
	  <div> <%= flash[:danger] %></div>
    <%= render 'admin/genres/form', genre: @genre, url: admin_genre_path(@genre), submit: '更新' %>
  </div>
</div>