<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div class="spot-list">
  <% spots.each do |spot| %>
    <%= spot.name %>
  <% end %>
</div>

