<div class="search-form">
  <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword ,value: params[:keyword] %>
    <%# if params[:genre_id].present? %>
      <%#= f.hidden_field :genre_id, value: params[:genre_id] %>
    <%# end %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<!--<div class="spot-list">-->
<!--  <%# spots.each do |spot| %>-->
    <!--<%#= spot.name %> title削除-->
<!--  <%# end %>-->
<!--</div>-->