<% if notice %>
  <div class="alert-info" >
   <span><%= notice %></span>
  </div>
<% elsif flash[:success] %>
  <div class="alert-success">
   <span><%= flash[:success] %></span>
  </div>
<% else flash[:alert] %>
  <div class="alert-danger">
   <span><%= flash[:alert] %></span>
  </div>
<% end %>